@mixin cl-fs-fw($color,$fontSize,$fontWeight) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCustom($direction,$justify:flex-start,$align:flex-start) {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
    -webkit-box-align: $align;
    -ms-flex-align: $align;
    align-items: $align;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: $direction;
};