$white-color: #fff;
$green-color: rgb(0, 158, 127);
$grey-color: rgb(119, 121, 140);
$grey-color1: rgb(241, 241, 241);
$background-color: rgb(247, 247, 247);
$background-color-search: rgb(255, 255, 255);
$color-head-title: rgb(13, 17, 54);
$color-sub-title: rgb(119, 121, 140);
$color-des: rgb(66, 69, 97);
$validation-color: #de5959;
$box-shadow: rgba(50, 50, 93, 0.06);
$box-shadow1: rgba(0, 0, 0, 0.08);
$border-bottom: #eee;
$label-color: #797979;
$fa-times: #ccc;
$red: red;
$nav-admin: rgb(22, 31, 106);
$background-filter: rgb(238, 238, 238);
$black: #000;
$option: rgb(102, 109, 146);
