$white-color: #fff;
$green-color: rgb(0, 158, 127);
$grey-color: rgb(119, 121, 140);
$grey-color1: rgb(241, 241, 241);
$background-color: rgb(247, 247, 247);
$background-color-search: rgb(255, 255, 255);
$color-head-title: rgb(13, 17, 54);
$color-sub-title: rgb(119, 121, 140);
$color-des: rgb(66, 69, 97);
$validation-color: #de5959;