.sidebar-admin {
    background-color: $white-color;
    position: fixed;
    left: 0;
    top: 10vh;
    height: 90vh;
    padding: 60px 0 60px 60px;
    margin-bottom: 0;
    z-index: 1;
    .nav {
        .nav-item {
            margin-bottom: 40px;

            a {
                display: block;
                letter-spacing: 2px;
                padding: 20px 35px;
                width: 100%;
                transition: color 0.3s;
                text-decoration: none;
                @include cl-fs-fw($nav-admin,16px,600);

                svg {
                    margin-right: 20px;
                }

                &:hover {
                    color: rgb(0, 158, 127);
                }
            }

            .active {
                background-color: $background-color;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                color: $green-color !important;
            }

            &:last-child {
                flex-grow: 1;
                @include flexCustom(column,flex-end,flex-start);
            }
        }
    }

    .active {
        background-color: $background-color;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        color: $green-color !important;
        padding: 20px 35px;
    }
}